<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
    .main, .main:link, .main:active, .main:visited, .main:focus {
        font-size: 1.8em;
        color: inherit;
        margin-right: 10px;
        text-decoration: underline
    }

    .sub, .sub:link, .sub:active, .sub:visited, .sub:focus {
        font-size: 1.8em;
        color: #888888;
        margin-right: 10px;
    }
</style>

<h1>Sondages</h1>

<p>
    Vous pouvez trouver sur cette page les analyses du grand débat.
    Cette analyse se base sur le code postal de chaque participant pour pouvoir regrouper les réponses selon la taille de la commnune.
</p>