---
layout: default
---

<style>
    button {
        background: #0A2A4D;
        color: white;
        width: 100%;
        border-radius: 2px;
        text-align: left;
        border: solid 1px #051C41;
        padding: 10px 10px -5px 10px;
        margin-bottom: 10px;


     }

     h1 {
        margin-bottom: -4px;
     }

</style>

<img src="assets/img/panel.jpg" alt="Bandeau Grand Débat" />

<p>Vous aimerez connaître les résultats du Grand Débat ?
    Vous ne comprenez rien aux comptes-rendus officiels ?
    Le fait que personne ne peut auditer la méthodologie vous gêne ?</p>

<p><b>Vous êtes au bon endroit !</b></p>

<p>Vous trouverez sur ce site, les résultats du grand débat aussi bien les questions ouvertes que fermées.
    Ce projet souhaite montrer les données sous la forme la plus accessible possible.
    La transparence est mise en avant en mettant en open source le code d'analyse sur <a href="https://gitlab.com/fjolain/grand-debat">gitlab</a>.</p>


<button onclick="window.location.href = '{{ site.baseurl }}{% link survey_ecology.html %}';">
    <h1>Allez aux <b>Sondages</b></h1>
    <h3>Questions fermées triées par la taille des communes</h3>
</button>

<button onclick="window.location.href = '{{ site.baseurl }}{% link proposition_ecology.html %}';">
    <h1>Allez aux <b>Propositions</b></h1>
    <h3>Questions ouvertes avec les propositions des français</h3>
</button>

<h3>Licence</h3>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons Attribution 4.0 International</a>.

<h3>Les graphiques sont intérractifs !</h3>

<p>On peut zoomer sur des zones:</p>

<img src="assets/img/zoom.gif" alt="Zoom" />

<p>On peut retirer un élement par simple clic</p>

<img src="assets/img/exclude.gif" alt="Exclure" />

<p>Ou on peut le garder seul par un double clic</p>

<img src="assets/img/keep.gif" alt="Garder" />

