---
layout: default
title: Méthodologie
permalink: /method/
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

On va parler de tout les choix fait durant le durant l'analyse pouvant impacter les résultats.
Pour voir le processus d'analyse complet, le code source est disponible sur <a href="https://gitlab.com/fjolain/grand-debat">gitlab.</a>

<h1>Sondages</h1>

<h2>Définition des communes</h2>
<p>La taille des commune est regroupée selon la définition de l'INSEE :</p>
<img src="{{site.baseurl}}/assets/img/size.png" style="margin-bottom: 50px">

<h2>Regroupement par taille de la commune</h2>
<p>Pour ajouter de la valeur dans l'analyse, nous recoupons avec la taille de la ville.
Cette donnée n'est pas disponible immédiatement dans le résultat du grand débat.
Nous avons le code postal du participant, l'INSEE nous donne la démographie de chaque ville selon le code INSEE.
Il ne reste plus qu'à convertir les codes postaux par le code INSEE selon un table donnée par l'INSEE.</p>

<p>La plupart des villes ont un code INSEE lié à un code postal. Mais d'autres cas existent :</p>
<ul>
    <li>
        <b>plusieurs codes postaux </b>
        Les grandes villes, comme Lyon, ont plusieurs code postaux. Il faut regrouper les codes postaux entre eux.</li>
        <img src="{{site.baseurl}}/assets/img/postal.png" style="margin-bottom: 50px">
    <li>
        <b>plusieurs codes INSEE </b>
        Les petites communes, comme  Chérac, Chaniers, Saint-Sauvant et Dompierre-sur-Charente, ont chacun un code INSEE, mais se partagent un même code postal.
        Nous avons fait le choix d'aggréger en prenant le maximum soit la commune la plus peuplée.
        <img src="{{site.baseurl}}/assets/img/insee.png" style="margin-bottom: 50px">
    </li>
</ul>

<p>
    Cette aggrégation par code postal, bien que nécessaire, change la répartition française sur les petites villes, bourgs et villages.
    Statistiquement, le code 17610 a plus de chance de venir d'un <i>bourg</i>.
    L'aggrégation par maximum permet de se rapprocher de la réalité, puisqu'il donne aussi un <i>bourg</i>.
    Alors que la somme donne une <i>petite ville</i> pour le code 17610 et la moyenne un <i>village</i>
</p>
<p>A titre d'exemple, le graphique ci-dessous montre la répartition démographique selon l'aggrégation</p>

{% for fig in site.data.method %}
{{ fig }}
{% endfor %}


<h1>Propositions</h1>
<p>
    Le grand-débat propose aux français de laisser des propositions par des questions ouvertes.
    Ces données extrêment variées ne peuvent se mettre simplement sous forme statistique comme des camenberts ou des radars.
    <br/><br/>
    L'utilisation d'un réseau de neurones pour comprendre le sens de chaque proposition reste compliqué.
    Premièrement, car aucun réseaux de neurones n'existe pour examiner des propositions.
    Ceux "prêt à l'emploi" servent à comprendre un sentiment ou une question.
    Deuxièmement, car il n'a pas suffisament de données pour entrainer un réseau de neurones.
    Si tant est qu'un seul réseau de neurones puisse suffir...
    <br/><br/>
    La méthode retenu a été de trier les propositions selon une analyse fréquencielle de mots clé en ne gardant que les 10 plus réccurrents.
    Cette méthode se divise en 5 étapes :
</p>

<ol>
    <li>Chaque proposition est découpée en liste de mots.</li>
    <li>Seuls les noms sont conservés. Verbes, adjectifs et autres sont supprimés.</li>
    <li>Les déclinaisons sont converties. Par exemple <i>animaux</i> deviendra <i>animal</i>. Mais <i>voiture</i> ne deviendra pas <i>véhicule</i>.</li>
    <li>Les mots n'apportant aucune information pertinante sont retirés (ex : un, autres, dessus, à, ...). <a href="https://gitlab.com/fjolain/grand-debat/blob/master/data/stopwords-french.txt">liste complète</a></li>
    <li>L'analyse fréquencielle se fait sur cette ensemble.</li>
</ol>
