---
layout: default
title: Propositions
---

{% include proposition_top.html %}

<a class="main" href="{{ site.baseurl }}{% link proposition_ecology.html %}">Ecologie</a>
<a class="sub"  href="{{ site.baseurl }}{% link proposition_fiscality.html %}">Fiscalité</a>
<a class="sub"  href="{{ site.baseurl }}{% link proposition_democracy.html %}">Démocracie</a>
<a class="sub"  href="{{ site.baseurl }}{% link proposition_public.html %}">Service Public</a>

{% for fig in site.data.proposition_ecology %}
<h3>{{ fig[0] }}</h3>
{{ fig[1] }}
{% endfor %}
