---
layout: default
---

{% include survey_top.html %}

<a class="sub" href="{{ site.baseurl }}{% link survey_ecology.html %}">Ecologie</a>
<a class="sub" href="{{ site.baseurl }}{% link survey_ecology.html %}">Fiscalité</a>
<a class="main"  href="{{ site.baseurl }}{% link survey_democracy.html %}">Démocracie</a>
<a class="sub"  href="{{ site.baseurl }}{% link survey_public.html %}">Service Public</a>

{% for fig in site.data.survey_democracy %}
<h3>{{ fig[0] }}</h3>
{{ fig[1] }}
{% endfor %}